@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

:root {
   --dark: #232323;
   --white: #fff;
}
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Merriweather', serif;
   font-size: 1rem;
   line-height: 1;
   background-color: var(--dark);
   color: var(--white);
   font-weight: 300;
}

.wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100dvh;
   padding: 20px;
}

label {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 1em;
   font-size: 1.5rem;
}

.card {
   padding: 30px 20px;
   background-color: #0053a1;
   max-width: 600px;
   margin: auto;
   width: 90%;
}

.js-password {
   min-width: 200px;
   padding: 20px 50px 20px 20px;
   background-color: #00155b;
   font-size: 1.25rem;
   position: relative;
   margin-bottom: 1.5em;
}

.js-password i {
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
}

input {
   border: 0;
   height: 30px;
   width: 30px;
   border-radius: 0;
   padding: 5px;
   font-weight: 700;
}

.input:focus {
   outline: 0;
}

button {
   position: relative;
   border: 0;
   background-color: rgb(33, 129, 113);
   font-size: 1.25rem;
   padding: 0.8em 1.5em;
   color: var(--white);
   font-weight: 700;
   text-transform: uppercase;
   display: inline-flex;
   align-items: center;
   cursor: pointer;
}

button i {
   margin-left: 10px;
}

.fields {
   margin-bottom: 2rem;
}

label[for='password-length'] {
   flex-wrap: wrap;
   flex-direction: column;
   align-items: flex-start;
}

label[for='password-length'] input {
   width: 100%;
   max-width: 200px;
   margin-top: 20px;
   cursor: pointer;
}

.range-wrap {
   position: relative;
   width: 100%;
}

.js-range-value {
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
}
